<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manufato">
        
        <!-- FileProvider for camera images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <!-- Welcome Activity - Launcher -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        
        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        
        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        
        <!-- Edit Profile Activity -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        
        <!-- Products Activity -->
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />
        
        <!-- Notifications Activity -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        
        <!-- Add/Edit Product Activity -->
        <activity
            android:name=".AddEditProductActivity"
            android:exported="false" />
            
        <!-- Cart Activity -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />
            
        <!-- Orders Activity -->
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />

        <!-- Change Password Activity -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

        <!-- Privacy Policy Activity -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />

        <!-- Help Support Activity -->
        <activity
            android:name=".HelpSupportActivity"
            android:exported="false" />
            
    </application>

</manifest>